{% extends "base.html" %}
{% block title %} Projects {% endblock %}

{% block content %}
<div class="container" style="padding: 3rem;">
    <div class="row" style="padding-bottom: 1rem">
        {% for p in projects %}
        <div class="col-4">
            <div class="card" style="width: 18rem; text-align: center ;">
                <h1>{{ p.name }}</h1>
                <div class="card-body">
                    <p class="card-text">{{ p.description }}</p>
                    <a href="{% url 'getHistory' p.id %}" class="btn btn-primary">Histories </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}