{% extends "base.html" %}
{% block title %} Tickets {% endblock %}

{% block content %}
<div class="container" style="padding: 3rem;">
    <div class="row" style="padding-bottom: 1rem">
        {% for t in tickets %}
        <div class="col-4" style="padding-bottom: 1rem;">
            <div class="card bg-light" style="width: 18rem; text-align: center ;">
                {% if t.finished %}
                <div class="card-header bg-success">{{ t.name }}</div>  
                {% else %}
                <div class="card-header">{{ t.name }}</div>  
                {% endif %}    
                <div class="card-body">
                    <p class="card-text">{{ t.comments }}</p>
                </div>
                <div class="container" style="align-items: center; padding-bottom: 10px;">
                    {% if t.finished == False %}
                    <a class="btn btn-success" href="{% url 'ticketStatus' t.id%}">Set as complete</a>
                    {% else %}
                    <a class="btn btn-outline-success" href="{% url 'ticketStatus' t.id%}">Completed</a>
                    {% endif %}

                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <a class="btn btn-success" style="position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;"
    href="{% url 'addTicket' history.id %}"><h1>+</h1></a>
</div>

{% endblock %}