{% extends "base.html" %}
{% block title %} Histories {% endblock %}

{% block content %}
<div class="container" style="padding: 3rem;">
    <div class="row" style="padding-bottom: 1rem">
        {% for h in histories %}
        <div class="col-4" style="padding-bottom: 1rem;">
            <div class="card bg-light" style="width: 18rem; text-align: center ;">
                <div class="card-header">
                  {{ h.name }}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ h.description }}</p>
                    <p>Finished: {{ h.finished }}</p>
                    <a href="{% url 'getTicket' h.id %}" class="btn btn-primary">Tickets </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}